.card{
    border:none !important;
    border-radius: 10px !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight:400 !important;
}

a{
    text-decoration: none !important;
}